<h1>Comment</h1>
  <ul>
    <li>
      <%= @Comment.map {|c|'<li>' + c + '</li>'}  %>
    </li>
  </ul> 
  
<a href=http://localhost:4567/>
  <button >Home</button>
</a>
<a href=http://localhost:4567/post>
  <button>Post</button>
</a>
