<h1>Post</h1>
  <ul> 
    <%= @Post.map {|p| '<li>'+ p +'</li>'}%>
  </ul> 

<a href=http://localhost:4567/>
  <button >Home</button>
</a> 
<a href=http://localhost:4567/comment>
  <button>Comment</button>
</a>
 
  